# DATABASE
DATABASE_URL="postgresql://postgres:postgres@db:5432/employee_db?schema=public"

# AUTH
JWT_SECRET="your_jwt_secret"
NEXT_PUBLIC_FETCH_URL=http://localhost:3000/api

# OTP
OTP_EXPIRED_SECONDS=60
OTP_LENGTH=6

# OFFICE LOCATION
OFFICE_LATITUDE=-7.8167834
OFFICE_LONGITUDE=110.3496963

# EMAIL
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USER="your_email@gmail.com"
EMAIL_PASS="your_app_password"
EMAIL_FROM="Employee Management <your_email@gmail.com>"